#body-1{background-image: linear-gradient(royalblue, lightsteelblue)}
#img-1{float: right;padding:1px;border:1px solid #021a40}
.imgboarder{padding:1px;border:1px solid #021a40}
#iframe-1{padding:1px;border:1px solid #021a40}
.center{display:block;margin-left: auto;margin-right: auto;text-align: center}
#h2-1{font-family: Candara;font-size: xx-large}
#h2-2{font-family: Candara;text-align: center;font-size: xx-large}
#p-1{font-family: "Leelawadee UI";font-style: italic;font-size: large}
#h1-1{font-family: "Arial Black"; font-size: xx-large;animation-duration: 3sec;animation-name: slidein}
.links{font-family: Corbel;font-size: x-large;font-weight: bolder}
#footer-1{font-family: Candara}
.centerhead{text-align: center;font-family: Candara;font-size: xx-large}
.centerpara{font-family: Corbel;text-align: center;font-size: x-large}
.imgboarder{animation-duration: 3s;animation-name: fadeIn;}
@keyframes fadeIn { from {width: 50%;} to {width: 36%;} }
.centerpara{animation-duration: 6s;animation-name: pulse}
@keyframes pulse { from {color: orangered;} to {color: black;} }  }

